.skills {
  margin-top: 300px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  width: fit-content;
  will-change: transform;
  animation: animation-reel 60s infinite linear;
}

@keyframes animation-reel {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
.skillsItem {
  font-weight: 400;
  font-family: 'Ogg';
  font-size: 180px;
  text-transform: uppercase;
}
