.skills {
  margin-top: 300px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  width: fit-content;
  will-change: transform;
  animation: animation-reel 60s infinite linear;

  @media (max-width: 1200px) {
    margin-top: 25vh;
  }
}

@keyframes animation-reel {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
.skillsItem {
  font-weight: 400;
  font-family: 'Ogg';
  font-size: 100px;
  text-transform: uppercase;

  @media (max-width: 1200px) {
    font-size: 80px;
    font-weight: 500;
  }
  @media (max-width: 600px) {
    font-size: 60px;
    font-weight: 500;
  }
}
