version: '3'
services:
  api:
    build: ./api
    ports:
      - '4444:4444'
    container_name: portfolio-api
  client:
    build: ./client
    ports:
      - '3000:3000'
    container_name: portfolio-client
  nginx:
    image: erangaeb/senznginx:0.4
    container_name: nginx
    network_mode: host
