.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  z-index: 1000;
  transition: 0.6s ease-in-out;
}
// #logo {
//   font-size: 1.2vw;
//   font-family: 'Inter';
//   transition: 0.6s ease-in-out;
//   font-weight: bold;
//   font-family: 'Ogg';
// }
.logo {
  font-size: 1.2vw;
  font-family: 'Inter';
  transition: 0.6s ease-in-out;
  font-weight: bold;
  font-family: 'Ogg';
}
.toggleMenu {
  display: none;
}
.menuItems {
  position: fixed;
  top: 20px;
  right: 60px;
  list-style: none;
  text-align: right;
  transition: 0.6s ease-in-out;
  transition: display 1s ease-in-out;
}
.menuItem,
.menuItemLink {
  font-family: 'Inter';
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 20px;
  overflow: hidden;
  color: #c0c9df;
  text-decoration: none;
  cursor: pointer;
  margin-left: 20px;
  /* mix-blend-mode: difference; */
}
.menuItemLink:hover::before {
  opacity: 1;
  transform: scaleX(1);
  transform-origin: 0 50%;
  transition: trasnform 0.7s cubic-bezier(0.2, 1, 0.3, 1), opacity 0.1s linear;
}
.menuItemLink::before {
  content: '';
  position: absolute;
  left: auto;
  margin-top: 22px;
  width: 40%;
  height: 2px;
  overflow: hidden;
  background: #642420;
  transform: scaleX(0.001);
  opacity: 0;
  transform-origin: 100% 50%;
  transition: transform 0.3s cubic-bezier(0.2, 1, 0.3, 1),
    opacity 0.1s linear 0.2s;
}

@media (max-width: 1200px) {
  .menuItem,
  .menuItemLink {
    font-size: 20px;
  }
  .menuItemLink::before {
    margin-top: 23px;
  }
}
@media (max-width: 768px) {
  .menuItems {
    display: none;
    background-color: #c0c9df;
    top: 80px;
    right: 20px;
    padding: 10px 0px;
  }
  .menuItem,
  .menuItemLink {
    color: #c0c9df;
    font-size: 15px;
    padding-right: 10px;
    padding-bottom: 2px;
  }
  .menuItemLink::before {
    background-color: #c0c9df;
  }
  .toggleMenu {
    display: block;
    position: fixed;
    top: 15px;
    right: 20px;
    margin: 10px 0px;
    padding: 0px 5px;
    padding-top: 5px;
    border-radius: 1px;
    background-color: #161616;
  }
  .toggleMenu img {
    width: 40px;
    font-weight: lighter;
    color: #f0f0f0;
  }
  .header:hover .menuItems {
    display: block;
  }
}
@media (max-width: 400px) {
  .menuItems {
    top: 60px;
    right: 10px;
  }
  .toggleMenu {
    right: 10px;
    top: 15px;
    padding: 0px 8px;
    padding-top: 4px;
  }
  .toggleMenu img {
    width: 25px;
  }
}
