.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.title {
  margin-top: 50px;
}

.img {
  display: block;
  width: 80%;
  height: auto;
  max-height: 400px;
  margin-left: auto;
  margin-top: 50px;
  object-fit: cover;
  object-position: center;
}

.description {
  margin-top: 50px;
}
