.container {
  display: block;
  cursor: pointer;
  position: relative;
  width: 560px;
  height: 380px;
  // margin: 50px 400px 120px 80px;
  margin: 30px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: 0.6s;

  width: calc(100% / 2 - 60px);
}
.title {
  position: absolute;
  left: 40px;
  bottom: -40px;
  color: #fff;
  font-style: italic;
  text-transform: lowercase;
  font-size: 50px;
}
.link {
  transition: 1.6s;
  color: #fff;
  text-decoration: none;
}
.container:hover .link {
  transition: 1.6s;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px white;
  text-decoration: underline 0.5px;
}

.hover {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.icon {
  font-size: 150px;
  opacity: 0;
  transition: 0.6s;

  display: block;
  height: 100%;
  width: 100%;
  color: white;
}

.container:hover .icon {
  stroke: white;
  color: white;
  opacity: 1;
  z-index: 100;
  transition: 0.6s;
}
.container:hover .hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.projects {
  &.container {
    width: 100%;
    min-height: 90vh;
    padding: 3rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  .textContainer {
    max-width: 400px;
    text-align: center;
  }

  .title {
    position: static;
    font-style: normal;
    margin-bottom: 50px;
    line-height: 88%;
  }

  .preview {
    color: white;
    margin: -2.5rem auto 0;
  }

  .hover {
    display: none;
  }
}
.home {
  &.container {
    width: calc(100% / 2 - 60px);

    padding: 3rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  .textContainer {
    max-width: 400px;
    text-align: center;
  }

  .title {
    position: static;
    font-style: normal;
    margin-bottom: 50px;
    line-height: 88%;
  }

  .preview {
    color: white;
    margin: -2.5rem auto 0;
  }

  .hover {
    display: none;
  }
}

@media (max-width: 1150px) {
  .projects.container {
    margin: 50px 230px 90px 95px;
  }
}
@media (max-width: 900px) {
  .projects.container {
    width: 300px;
    height: 200px;
    margin: 50px 100px 70px 80px;
  }
  .home.container {
    width: 100%;
    height: 200px;
    margin-bottom: 40px;
  }
  .container .title {
    font-size: 25px;
    bottom: -20px;
  }

  .hover .icon {
    font-size: 70px;
  }
}

.hide {
  display: none;
}

.hide {
  display: block;
}
