* {
  font-family: 'Rubik';
}

.home {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.heroWrapper {
  width: 100%;
  max-width: 1800px;
  // height: 100vh;
  margin: 0 auto;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  // height: 50vh;
  width: 100%;
  // margin-top: -80px;

  @media (max-width: 1200px) {
    height: 50vh;
  }
  @media (max-width: 768px) {
    margin-top: 0;
    height: 50vh;
  }
}
.nameWrapper {
  cursor: default;
  display: flex;
  flex-direction: column;
  padding: 0px 100px;
  height: 100%;
  justify-content: center;
  overflow: hidden;
}

.nameParagraph p {
  font-size: 180px;
  text-transform: capitalize;
  letter-spacing: -10px;
  font-family: 'Ogg';
  height: 100%;
  line-height: 90%;
  line-height: 150%;

  @media (max-width: 1200px) {
    font-size: 100px;
    letter-spacing: -5px;
    font-weight: 500;
  }
  @media (max-width: 600px) {
    font-size: 60px;
    letter-spacing: -2px;
    font-weight: 500;
  }
}
.nameParagraphBottom {
  margin-top: -130px;

  @media (max-width: 1200px) {
    margin-top: -240px;
  }

  @media (max-width: 600px) {
    margin-top: -120px;
    margin-top: -140px;
  }
}

.about {
  margin-top: 200px;
}

.aboutHeader {
  font-size: 150px;
  font-weight: 500;
  font-family: 'Ogg';

  letter-spacing: -2px;
  text-align: center;

  @media (max-width: 1200px) {
    font-size: 100px;
    line-height: 105%;

    line-height: 100%;
    font-size: 80px;
    margin-bottom: 20px;
  }
  @media (max-width: 768px) {
    font-size: 100px;
    line-height: 105%;

    line-height: 100%;
    font-size: 80px;
    margin-bottom: 20px;
  }
}
.aboutTextContainer {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  letter-spacing: 0;

  @media (max-width: 1200px) {
    padding: 0 40px;
  }

  @media (max-width: 600px) {
    padding: 0 16px;
  }
}

.aboutText {
  text-align: center;
  color: #d41145;

  font-weight: 500;
  font-size: 18px;
  margin-top: 20px;

  @media (max-width: 1200px) {
    margin-top: 5px;
    font-weight: 300;
  }

  @media (max-width: 600px) {
    font-size: 16px;
    line-height: 140%;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.aboutIntro {
  font-size: 18px;
  margin-top: 20px;
  margin-right: 10px;
  font-family: 'Rubik';
  text-transform: uppercase;
  font-weight: bold;
  color: #c0c9df;

  @media (max-width: 600px) {
    font-size: 16px;
    line-height: 140%;
  }
}

@media (max-width: 600px) {
  .nameWrapper {
    padding: 0px 50px;
  }
}

.projectsPreview {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}
