* {
  font-family: 'Rubik';
}

.home {
}
.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 50vh;
  width: 100%;
  margin-top: -80px;
}
.nameWrapper {
  display: flex;
  flex-direction: column;
  padding: 0px 100px;
  height: 100%;
  justify-content: center;
  overflow: hidden;
}
.nameParagraph {
  overflow: hidden;
}
.nameParagraph p {
  font-size: 180px;
  text-transform: capitalize;
  letter-spacing: -10px;
  font-family: 'Ogg';
  overflow: hidden;
  height: 100%;
  line-height: 90%;
  line-height: 150%;
}
.nameParagraphBottom {
  margin-top: -130px;
}
.right-side-menu {
  position: absolute;
  top: 40vh;
  text-align: right;
  right: 60px;
}
.right-side-menu p {
  font-size: 20px;
  font-family: 'Inter';
  color: #642420;
  cursor: pointer;
  font-weight: lighter;
}
.leftQuote {
  margin-left: 120px;
}
.leftQuote p {
  color: #642420;
  font-size: 15px;
  font-family: 'Inter';
  word-spacing: 10px;
  text-transform: uppercase;
  font-weight: 300;
}
.flower {
  margin-left: 150px;
  margin-top: -250px;
}
.flower img {
  animation: animate-rotate 30s infinite linear;
  width: 80px;
}
.about {
  margin-top: 25vh;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
}
.aboutHeader {
  font-family: 'Rubik';
  margin-top: 100px;
  margin-bottom: -150px;
  font-size: 150px;
  font-weight: 500;
  font-family: 'Ogg';

  letter-spacing: -2px;
  text-align: center;
}
.aboutTextContainer {
  margin-top: 120px;
  max-width: 1100px;
}
.about h1 {
  font-size: 150px;
  font-weight: 500;
  font-family: 'Ogg';
  margin-bottom: -150px;
  letter-spacing: -2px;
  text-align: center;
}
.aboutText {
  text-align: center;
  color: #d41145;

  font-weight: 500;
  font-size: 18px;
  margin-top: 20px;
}

.aboutIntro {
  margin-right: 10px;
  font-family: 'Rubik';
  text-transform: uppercase;
  font-weight: bold;
  color: #c0c9df;
}

.aboutSvg {
  margin-top: 50px;
}
.aboutSvg img {
  width: 50px;
  animation: animate-rotate 10s infinite linear;
}

@keyframes animate-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.reel {
  width: 100%;
  overflow: hidden;
}

.skill-set-boxes {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
}

.skill-set-box {
  margin: 50px 10px;
  display: flex;
  width: 350px;
  height: 200px;
  color: #e6e6e6;
  flex-direction: column;
  background-color: #101010;
  border: 1px solid transparent;
  transition: color 0.8s cubic-bezier(0.16, 1, 0.3, 1);
  transition: background-color 1s cubic-bezier(0.16, 1, 0.3, 1);
  transition: border 0.8s cubic-bezier(0.16, 1, 0.3, 1);
}
.skill-set-box:hover {
  color: #161616;
  background-color: #f0f0f0;
  border: 1px solid #161616;
}
.skill-set-box h1,
.skill-set-box p {
  margin: 0px 30px;
  font-family: 'Inter';
  font-weight: lighter;
  text-transform: uppercase;
}
.skill-set-box h1 {
  margin-top: 35px;
  font-size: 20px;
  font-weight: bold;
}
.skill-set-box p {
  margin-top: 20px;
  font-size: 13px;
}

@media (max-width: 1200px) {
  .nameParagraph p {
    font-size: 100px;
    letter-spacing: -5px;
    font-weight: 500;
  }
  .nameParagraphBottom {
    margin-top: -200px;
  }
  .flower {
    display: none;
  }
  .about h1 {
    font-size: 100px;
    margin: 0;
    line-height: 88%;
  }
  .aboutText {
    margin-top: 5px;
    font-weight: 300;
  }
  .aboutTextContainer {
    margin-top: 10px;
  }
  .reel-item {
    font-size: 100px;
  }

  .skill-set-box {
    margin: 10px 5px;
  }
}
@media (max-width: 600px) {
  .aboutText {
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .nameParagraph p {
    font-size: 60px;
    letter-spacing: -2px;
    font-weight: 500;
  }
  .nameParagraphBottom {
    margin-top: -120px;
  }

  .leftQuote {
    margin-left: 10vw;
  }
  .leftQuote p {
    font-size: 12px;
  }
  .nameWrapper {
    padding: 0px 50px;
  }
  .about h1 {
    font-size: 60px;
    margin: 0;
    line-height: 88%;
  }

  .reel-item {
    font-size: 60px;
  }
}
