.menu {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  // transform: translateX(-100%);
}
.button {
  position: absolute;
  top: 50px;
  right: 100px;
  text-decoration: none;
  color: black;
  right: 100px;
  font-family: 'Monument';
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  color: white;
}
.navigationList {
  position: absolute;
  left: 20%;
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: left;
  height: 100vh;
  flex-direction: column;
}
.navigationItem {
  margin: 20px 0;
  z-index: 2;
}
.navigationLink {
  text-decoration: none;
  color: white;
  transition: 2s;
  font-family: 'Monument';
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 500;
  mix-blend-mode: difference;

  &:hover {
    transition: 2s;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px white;
    font-style: italic;
  }
}
.social {
  position: absolute;
  bottom: 0;
  display: flex;
  height: 80px;
  width: 100%;
}
.socialList {
  margin-left: 50px;
  display: flex;
}
.socialItem {
  margin: 0px 10px;
}
.socialLink {
  text-decoration: none;
  color: white;
  font-family: 'Monument';
  font-size: 18px;
  text-transform: uppercase;
  font-weight: lighter;
}
