.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
  margin-top: 25vh;
  margin-bottom: 100px;
  flex-direction: column;

  margin-top: 300px;
  // height: 30vh;

  @media (max-width: 1200px) {
    margin-top: 25vh;
  }
}
.projectsLink {
  margin-bottom: 20px;
  color: #c0c9df;
  font-size: 100px;
  font-weight: lighter;
  font-family: 'Ogg';
  text-decoration: 0.5px line-through;

  &:hover {
    color: #8991a9;
  }
}
.projects p {
  color: #d41145;
  font-size: 20px;
  //   margin-top: -20px;
  font-weight: lighter;
}
.projectsLink img {
  width: 90px;
}

@media (max-width: 1200px) {
  .projects .projectsLink {
    font-size: 50px;
  }
  .projects .projectsLink img {
    width: 30px;
  }
  .projects p {
    margin-top: -30px;
  }
}
