.tags {
  position: absolute;
  z-index: 0;
  top: 20vh;
  font-size: 20px;
  margin-left: 100px;
  width: 35%;
  color: #d41145;
  @media (max-width: 1200px) {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    margin-left: 0;

    opacity: 0.6;
  }

  @media (max-width: 768px) {
    top: 0;
    opacity: 0.5;
    // display: none;
  }
}
