.container {
  display: flex;
  top: 20%;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.title {
  position: relative;
  width: 660px;
  font-family: 'Ogg';
  font-size: 80px;
  text-transform: uppercase;
  text-decoration: underline 0.5px;
  font-weight: lighter;
}

.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  @media (max-width: 900px) {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
}
