.project {
  // background-color: #e2e8f0;
  height: 100%;
  // color: #566f7d;
  padding-bottom: 80px;
}

.background {
  height: 633px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.container {
  width: 100%;
  // max-width: 1400px;
  // height: 633px;
  margin: 0 auto;

  display: flex;

  padding: 0 30px;
  padding-top: 180px;

  backdrop-filter: blur(2px);

  @media (max-width: 1200px) {
    padding: 0 40px;
  }

  @media (max-width: 600px) {
    max-height: 100vh;
    padding: 0 16px;
  }
}

.backLink {
  cursor: pointer;
  position: absolute;
  z-index: 2;
  top: 80px;
  left: 30px;
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.backSvg {
}

.backText {
  margin-left: 1rem;
  text-transform: uppercase;
}

.img {
  display: block;
  width: 60%;

  height: auto;
  max-height: 400px;
  // margin-left: auto;

  object-fit: cover;
  object-position: center;
}

.textContainer {
  margin-left: 40px;
  width: calc(40% - 40px);
}

.title {
  margin-top: 5px;
  font-family: 'Ogg';
  font-style: normal;
  font-weight: 500;
  font-size: 65px;
  line-height: 79px;
  color: #ffffff;

  @media (max-width: 600px) {
    font-size: 40px;
    line-height: 100%;
  }
}

.preview {
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.2px;
  color: #ffffff;

  span {
    will-change: opacity, filter;
    opacity: 0;
    filter: blur(0px);
  }

  @media (max-width: 600px) {
    text-align: center;
  }
}

.links {
  margin-bottom: 80px;

  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.link {
  margin: 0 10px;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.2px;
  color: #ffffff;
  text-decoration: none;

  @media (max-width: 600px) {
    margin-bottom: 20px;
  }

  &:hover {
    text-decoration: dashed;
  }
}

.description {
  width: 100%;
  max-width: 760px;
  padding: 0 16px;
  margin: 0 auto;
  margin-top: 80px;

  @media (max-width: 1200px) {
    padding: 0 40px;
  }

  @media (max-width: 600px) {
    margin-top: 40px;
    padding: 0 16px;
  }
}

.task {
  margin-bottom: 40px;

  p {
    margin-bottom: 10px;
  }
}

.role {
  margin-bottom: 40px;
  &Title {
    font-weight: 500;
  }
  &Text {
  }
}

.technologoies {
  margin-bottom: 40px;

  &Title {
    font-weight: 500;
  }

  &Tags {
    display: flex;
  }

  &Tag {
    position: relative;
    margin-right: 10px;
    padding-left: 10px;
    &::before {
      position: absolute;
      left: 2px;
      top: -10px;
      content: '.';
      font-size: 24px;
      margin-bottom: 10px;
    }
  }
}

.otherProjects {
  width: 100%;
  // max-width: 1400px;
  // height: 633px;
  margin: 0 auto;

  padding: 0 30px;
  padding-top: 180px;

  @media (max-width: 1200px) {
    padding: 0 40px;
  }

  @media (max-width: 600px) {
    max-height: 100vh;
    padding: 0 16px;
  }
}
