.container {
  display: flex;
  top: 20%;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.title {
  // position: relative;
  // // width: 860px;
  // font-family: 'Ogg';
  // font-size: 80px;
  // text-transform: uppercase;
  // text-decoration: underline 0.5px;
  // font-weight: lighter;

  width: 100%;
  font-family: 'Ogg';
  margin-left: 40px;
  font-size: 220px;
  font-weight: lighter;
  line-height: 80%;
  text-transform: capitalize;

  @media (max-width: 900px) {
    font-size: 120px;
  }
  @media (max-width: 500px) {
    font-size: 80px;
  }
}

.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  // max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 120px;

  @media (max-width: 900px) {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
}
