.container {
  display: flex;
}

.link {
  position: relative;
  font-size: 18px;
  margin-right: 10px;
  font-weight: bold;
  text-decoration: none;
  color: #c0c9df;

  &:hover {
    color: white;
  }

  &:not(:last-child)::after {
    content: '/';
    margin-left: 10px;
    text-decoration: none;
    color: #d41145;
  }
}
