.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
  margin-top: 150px;
  height: 100px;
  background-color: #161616;
  text-transform: uppercase;
  color: white;
}

.footer p {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 15px;
  font-weight: lighter;
  cursor: pointer;
  margin-top: 5px;
  border-bottom: 1px dashed transparent;
  transition: border 0.8s cubic-bezier(0.16, 1, 0.3, 1);
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 40px 16px;
  padding: 0 16px;

  @media (max-width: 900px) {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin: 30px 16px;
  }
}

.socialLink {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 15px;
  font-weight: lighter;
  cursor: pointer;
  margin-top: 5px;
  border-bottom: 1px dashed transparent;
  transition: border 0.8s cubic-bezier(0.16, 1, 0.3, 1);
  display: inline-block;

  margin-left: 16px;

  &:hover {
    border-bottom: 1px dashed white;
    transition: text-decoration 0.8s cubic-bezier(0.16, 1, 0.3, 1);
  }
}
